# Git & VCS
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual envs
venv/
.venv/
env/

# OS & IDE clutter
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Test files
tests/
*.test.py

# Not needed in container
data/
docs/
*.md

# Local config/secrets
.env
*.env
secrets.json
credentials.json


airflow/logs/